spring:
  profiles:
    active: dev

  mail:
    host: smtp.gmail.com
    port: 587
    username: xxxxxxxxxxxxxxxx
    password: xxxx xxxx xxxx xxxx
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  servlet:
    context-path: /journal


